.input {
    position: relative;
    display: inline-block;
    top: 2em;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: none;
}

.cursor {
    position: absolute;
    background: transparent;
    border-left: 1.5px solid #161616e8;
    transition: cubic-bezier(0.2, 0.68, 0.61, 0.94) 0.05s;
}

.letter {
    color: #000000;
    opacity: 1;
}

.letter.untouched, .letter.removed {
    opacity: 0.6;
}

.letter.correct {
    opacity: 1;
}

.letter.wrong {
    opacity: 1;
    background: #ff2020;
    color: #ffffff;
}

.stats {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 14px;
}

.end {
    color: #e70606;
}

textarea {
    width: 100%;
    height: 80%;
    resize: none;
}